<p>I am <%= format_node_name(node()) %></p>
<p>At page load I was connected to <%= format_node_names(Node.list()) %></p>

<form phx-submit="send_message">
    <input name="message" value="My message">
    <button type="submit">Broadcast</button>
</form>


<p>Received messages</p>
<%= for message <- @messages do %>
<li><%= message %></li>
<% end %>